@import "tailwindcss";


#section-1 {
    margin-bottom: 15px;
    padding-bottom: 40px;
}

#content {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #5ab8ff;

}

#for-teacher {
    margin-top: 20px;
}

#heading-teacher {
    color: #5ab8ff;
    margin: 50px;
}